@{
    ViewBag.Title = "Index";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.PostsIndexViewModel

<div class="page-header">
    <h1>Next edition</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("Index", "Posts", FormMethod.Post, new { @class="form-horizontal" } )) {    
        <div class="span8">
        <fieldset>          
            <div class="control-group">
                <label class="control-label" for="input01">Link</label>
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Url, new { @class="input-xlarge", style="width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Title</label>
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Title, new { @class="input-xlarge", style="width: 97%" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Category</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories, new { @class = "input-xlarge" })
                </div>
            </div>                    
        </fieldset>
        </div>
        <div class="span3">
            <button type="submit" class="btn btn-primary">Add</button>            
        </div>
    }         
</div>
@foreach (var post in Model.UnpublishedPosts.Posts)
{
    <section>       

        @foreach (var category in post.Categories)
        {
            <div class="row">
                <div class="span12">
                    <h3>@category.Name</h3>
                    <ul>
                        @foreach (var link in category.Links)
                        {                           
                            <li><a href="@link.Url">@link.Title</a></li>                       
                        }
                    </ul>
                </div>
            </div>            
        }

    </section>    
}



