@{
    ViewBag.Title = "Index";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.PostsIndexViewModel

<div class="page-header">
    <h1>Next edition</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("AddLink", "Posts", FormMethod.Post, new { @class = "form-horizontal" }))
    {    
        <div class="span12">
        <fieldset>          
            <div class="control-group">
                @Html.LabelFor(m => m.Url, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Url, new { @class = "input-xlarge", style = "width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Title, new { @class = "input-xlarge", style = "width: 97%" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories, new { @class = "input-xlarge" })
                </div>
            </div>   
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add</button>            
            </div>                 
        </fieldset>
        </div>        
    }         
</div>

<section>       

    @foreach (var category in Model.UpcomingPost.Categories)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@category.Name</th>                             
                </tr>
            </thead>
            <tbody>
                @foreach (var link in category.Links)
                {
                    <tr>                               
                        @{ var cssclass = @link.Flagged ? "flagged" : string.Empty; }
                        <td><a href="@link.Url" class="@cssclass">@link.Title</a></td>                                
                        <td>                           
                          
                            @using (Html.BeginForm("ToggleFlagLink", "Posts", new { postId = Model.UpcomingPost.Id, linkId = link.Id }, FormMethod.Post))
                            {
                                string buttonText = link.Flagged ? "Unflag" : "Flag";
                                string buttonClass = link.Flagged ? "btn btn-success" : "btn btn-warning";                                
                               
                               <button type="submit" class="@buttonClass">@buttonText</button>                               
                            }
                              
                            @using (Html.BeginForm("DeleteLink", "Posts", new { postId = Model.UpcomingPost.Id, linkId = link.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>           
    }

</section>    

<div class="row">
    @using (Html.BeginForm("Publish", "Posts", FormMethod.Post))
    {
        <div class="span3 container-publish">            
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    }
</div>



