@{
    ViewBag.Title = "Index";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.PostsIndexViewModel

<div class="page-header">
    <h1>Next edition</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("Index", "Posts", FormMethod.Post, new { @class="form-horizontal" } )) {    
        <div class="span12">
        <fieldset>          
            <div class="control-group">
                @Html.LabelFor(m => m.Url, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Url, new { @class="input-xlarge", style="width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Title, new { @class="input-xlarge", style="width: 97%" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories, new { @class = "input-xlarge" })
                </div>
            </div>   
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add</button>            
            </div>                 
        </fieldset>
        </div>        
    }         
</div>
@foreach (var post in Model.UnpublishedPosts.Posts)
{
    <section>       

        @foreach (var category in post.Categories)
        {
            <div class="row">
                <div class="span12">
                    <h3>@category.Name</h3>
                    <ul>
                        @foreach (var link in category.Links)
                        {                           
                            <li><a href="@link.Url">@link.Title</a></li>                       
                        }
                    </ul>
                </div>
            </div>            
        }

    </section>    
}

<div class="row">
    @using (Html.BeginForm("Publish", "Posts", FormMethod.Post))
    {
        <div class="span3 container-publish">            
            <button type="submit" class="btn btn-warning">Publish</button>
        </div>
    }
</div>



