<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/bootstrap/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>    
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/bootstrap")"></script>    
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">TopDevLinks</a>
            <div class="nav-collapse">
                <ul class="nav">                      
                    <li class="">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="">
                        @Html.ActionLink("Subscribe", "Feed")
                    </li>
                    <li class="">
                        @Html.ActionLink("Archive", "Archive")
                    </li>
                    <li class="">
                        @Html.ActionLink("About", "About")
                    </li>                                            
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <header class="jumbotron subhead">
            <h1>TopDevLinks</h1>
            <p class="lead">Every Sunday, we push a collection of the finest articles on software development here. Or some less silly text maybe?</p>
        </header>

        @RenderBody()

        <footer class="footer">
            <p>We can put a footer here</p>
        </footer>
    </div>

</body>
</html>
