@{
    ViewBag.Title = "Users";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.UsersIndexViewModel

<div class="page-header">
    <h1>Users</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("Add", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
    {    
        <div class="span12">
        <fieldset>          
            <div class="control-group">
                @Html.LabelFor(m => m.Login, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Login, new { @class="input-xlarge" })                    
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.PasswordFor(m => m.Password, new { @class="input-xlarge" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>  
            <div class="control-group">
                @Html.LabelFor(m => m.PasswordAgain, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.PasswordFor(m => m.PasswordAgain, new { @class="input-xlarge" })
                    @Html.ValidationMessageFor(m => m.PasswordAgain)
                </div>
            </div>  
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add</button>            
            </div>                
        </fieldset>
        </div>      
    }         
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Activated</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users.Items)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Email</td>
                <td>@Html.Raw(user.Activated ? "Yes" : "No")</td>
                <td>
                    @if (user.CanBeDeactivated)
                    {
                        using (Html.BeginForm("Deactivate", "Users", new { id = user.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger">Deactivate</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>