@{
    ViewBag.Title = "Categories";
}

@model TopDevLinks.Areas.Admin.Models.ViewModels.CategoriesIndexViewModel

<div class="page-header">
    <h1>Categories</h1>    
</div>
<div class="row">    
    @using (Html.BeginForm("AddCategory", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
    {    
        <div class="span12">
        <fieldset>          
            <div class="control-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Name, new { @class="input-xlarge", style="width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>     
            <div class="control-group">
                @Html.LabelFor(m => m.Priority, new { @class = "control-label" })
                <div class="controls">                    
                    @Html.TextBoxFor(m => m.Priority, new { @class="input-xlarge", style="width: 97%" })                    
                    @Html.ValidationMessageFor(m => m.Priority)
                </div>
            </div>              
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add</button>            
            </div>                 
        </fieldset>
        </div>        
    }         
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>            
            <th>Priority</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>                
                <td>@category.Priority</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = category.Id })</td>
            </tr>
        }
    </tbody>
</table>
